body {
  background-image: url("eportfölj.jpg");
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 70px;
  font-family: "Poiret One", cursive;
}

h2 {
  font-family: "Poiret One", cursive;
  text-align: center;
  position: relative;
  top: -50px;
}

div {
  background-color: rgb(40, 139, 143);
  height: 50px;
  width: 50px;
}

.filip {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -50px;
  border-radius: 50%;
  border: 5px solid white;
}
