body {
  background-image: url("4-space.jpg");
}

h1 {
  text-align: center;
  color: white;
  font-size: 70px;
  font-family: "Poiret One", cursive;
}

h2 {
  font-family: "Poiret One", cursive;
  text-align: center;
  position: relative;
  top: -50px;
  color: white;
}

.filip {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -50px;
  border-radius: 50%;
  border: 5px solid black;
}

a {
  color: white;
  font-family: "Chango", cursive;
  text-decoration: none;
  font-size: 25px;
  position: relative;
  left: 800px;
}

a:hover {
  color: rgb(217, 255, 0);
  cursor: pointer;
}
